/*.nestedMenu option:hover{*/
/*    background-color: rgba(44, 102, 147, 0.11)!important;*/
/*}*/

/*option.analyticsLink::after {*/
/*    content: "↗";*/
/*    position: relative;*/
/*    left: 3px;*/
/*}*/

/*option:checked{*/
/*    !*background: linear-gradient(0deg, #B7C8D9  0%, #B7C8D9  100%)!important;*!*/
/*}*/

/*select:focus option:checked{*/
/*    !*background: linear-gradient(0deg, rgb(44, 102, 147) 0%, rgb(44, 102, 147) 100%)!important;*!*/
/*    !*outline: 1px solid  rgb(44, 102, 147);*!*/
/*}*/

$hoverBg: rgb(232, 237, 242);

$sectedFg: white;
$selectedBg: rgb(44, 102, 147);

.nestedMenu_item:hover{
  background-color: $hoverBg;
}

.nestedMenu_item.selected{
  background-color: $selectedBg;
  color: $sectedFg;
}

.nestedMenu_analyticsLink, .nestedMenu_subCategory {
  padding: 4px;
}