$hoverBg: rgb(232, 237, 242);
$selectedBg: rgb(232, 237, 242);

$focusedFg: white;
$focusedBg: rgb(44, 102, 147);

.nestedMenu_item:hover {
  background-color: $hoverBg;
}

.nestedMenu_item.selected {
  background-color: $selectedBg;
}

.nestedSubMenu.focused .nestedMenu_item.selected {
  background-color: $focusedBg;
  color: $focusedFg;
}

.nestedMenu_analyticsLink, .nestedMenu_subCategory {
  padding: 4px;
}

.appear {
  animation-duration: 0.3s;
  animation-name: appear-animation;
  animation-fill-mode: backwards;
  position: relative;
}

@keyframes appear-animation {
  0% {
    left: -100px;
    z-index: -1;
  }
  99%{
    z-index:-1;
  }
  100% {
    left: 0px;
    z-index: 0;
  }
}

.nestedMenu {
  ::-webkit-scrollbar {
    width: 9px;
    height: 9px;
  }
  ::-webkit-scrollbar-track {
    background: $hoverBg;
  }
  ::-webkit-scrollbar-thumb {
    background: $focusedBg;
    border-radius: 4px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(44, 102, 147,0.8);
  }
}